---
import { type LinkProps } from "@/types"

interface Props extends LinkProps {
  class?: string
}

const { href, target: propsTarget, class: className } = Astro.props

const isExternal = href.startsWith("http") || propsTarget === "_blank"
const target = isExternal ? "_blank" : propsTarget
const rel = isExternal ? "noopener noreferrer" : null
---

<a
  href={href}
  class:list={["text-blue-300 hover:text-blue-100 font-semibold", className]}
  target={target}
  rel={rel}
>
  <slot name="left" />
  <slot />
  <slot name="right" />
</a>
