---
import FullScreenSection from "@/components/FullScreenSection.astro"
import { GRADIENTS } from "@/consts"
import { Image } from "astro:assets"
import Link from "@/components/links/Link.astro"
import SectionTitle from "@/components/SectionTitle.astro"
import solanaHackathonImg from "@/assets/images/solana-23/collage-transparent.png"
---

<FullScreenSection
  gradient={GRADIENTS.reversed}
  id="about"
  class="max-w-screen-2xl xl:grid xl:grid-cols-2 xl:gap-8"
>
  <div
    class="mx-auto flex w-full max-w-2xl flex-col gap-4 text-lg xl:ml-auto"
  >
    <SectionTitle>About Me</SectionTitle>
    <p>
      Hi there! I'm Jacob and I'm passionate about
      <strong> web development and technology</strong>. I'm currently working
      with a team of talented developers as a
      <Link
        href="https://www.linkedin.com/in/jacob--flores/"
      >Technology Manager</Link>.
    </p>
    <p>
      Back in 2018, I started on my academic journey in
      <strong>Intelligent Systems Engineering at UASLP</strong>.
      I found my passion when I stumbled upon web technologies and what frontend
      development was.
    </p>
    <p>
      I love being part of a community, sharing my knowledge, and learning from
      others. Lately, I've participated in
      <Link
        href="https://www.linkedin.com/feed/update/urn:li:activity:7121192540745146369"
      >
        hackathons
      </Link>
      and
      <Link
        href="https://www.linkedin.com/feed/update/urn:li:activity:7110290471884644352"
      >given talks to my university peers</Link>,
      being part of a community known as
      <Link 
        href="https://www.linkedin.com/company/studevs"
        target="_blank"
      >Studevs</Link>.
    </p>
  </div>
  <figure>
    <Link href="https://www.instagram.com/p/CtGOpJdM1m1">
      <Image
        src={solanaHackathonImg}
        alt="Delivering a presentation at the Engineering Faculty Auditorium, Autonomum University of San Luis Potosí."
        class="aspect-video h-full rounded-lg object-cover object-right brightness-110"
        quality={1}
      />
    </Link>
    <figcaption class="text-slate-400 text-sm py-2 font-semibold">
      <Link href="https://www.instagram.com/studevs_official/">Studevs</Link> @ Solana Etherfuse Hackathon - GDL México <time datetime="2023">2023</time>
    </figcaption>
  </figure>
</FullScreenSection>
