---
import { GRADIENTS } from "@/consts"
import { Image } from "astro:assets"
import FullScreenSection from "../FullScreenSection.astro"
import Link from "@/components/Link.astro"
import SectionTitle from "@/components/SectionTitle.astro"
import solanaHackathonImg from "@/assets/images/solana-23/collage-transparent.png"
---

<FullScreenSection
  gradient={GRADIENTS.reversed}
  id="about"
  class="lg:grid lg:grid-cols-2 lg:gap-16"
>
  <div class="flex flex-col gap-4">
    <SectionTitle>About Me</SectionTitle>
    <p>
      Hi there! I'm Jacob and
      <strong> I'm passionate about web development and technology</strong>.
    </p>
    <p>
      I love being part of a community, sharing my knowledge, and learning from
      others. Lately, I've participated in <strong>hackathons</strong>
       and <strong> given talks to my university peers</strong>, being part of a
      community known as
      <Link
        href="https://www.linkedin.com/company/studevs"
        target="_blank"
      >Studevs</Link>.
    </p>
  </div>
  <Image
    src={solanaHackathonImg}
    alt="Delivering a presentation at the Engineering Faculty Auditorium, Autonomum University of San Luis Potosí."
    class="aspect-video object-cover h-full brightness-110 object-right"
  />
</FullScreenSection>
