---
import { Image } from "astro:assets"
import Layout from "@/layouts/Layout.astro"
import Link from "@/components/Link.astro"
import studevsTalk from "@/assets/images/studevs-talk.jpeg"
---

<Layout>
  <section class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-16 my-auto">
    <div class="flex flex-col gap-8 text-lg">
      <header class="w-full mx-auto">
        <h1 class="text-7xl font-black text-blue-400 hover:text-blue-200">
          <a
            href="https://www.linkedin.com/in/jacob--flores/"
            target="_blank"
            rel="noopener noreferrer">Jacob Flores</a
          >
        </h1>
        <p class="text-2xl">
          <strong>Technology Manager</strong> at
          <Link href="https://www.aiapartner.com/" target="_blank">
            <strong> AIA Partners</strong>
          </Link>
        </p>
      </header>

      <div class="flex flex-col gap-4">
        <p>
          Hi there! I'm Jacob and
          <strong> I'm passionate about web development and technology</strong>.
        </p>
        <p>
          I love being part of a community, sharing my knowledge, and learning
          from others. Lately, I've participated in <strong>hackathons</strong>
           and <strong> given talks to my university peers</strong>, being part
          of a community known as
          <Link href="https://www.linkedin.com/company/studevs" target="_blank">
            <strong>Studevs</strong>
          </Link>.
        </p>
      </div>
    </div>
    <Image
      src={studevsTalk}
      alt="Delivering a presentation at the Engineering Faculty Auditorium, Autonomum University of San Luis Potosí."
      quality="max"
      class="aspect-video object-cover h-full rounded-xl object-left-bottom brightness-110"
    />
  </section>

  <style>
    /* h1 {
      background: var(
        --secondary-gradient,
        linear-gradient(180deg, #f6edaf 0%, #e5c600 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    } */
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
