---
import Layout from "@/layouts/Layout.astro"
---

<Layout>
  <section class="my-auto">
    <h1 class="text-7xl font-black">Jacob Flores</h1>
    <p class="text-2xl">
      <strong>Technology Manager</strong> at
      <a
        href="https://www.aiapartner.com/"
        target="_blank"
        rel="noopener noreferrer"
        class="underline text-[#E5C600]"
      >
        <strong> AIA Partners</strong>
      </a>
    </p>
  </section>

  <style>
    h1 {
      background: var(
        --secondary-gradient,
        linear-gradient(180deg, #f6edaf 0%, #e5c600 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .astro-a {
      position: absolute;
      top: -32px;
      left: 50%;
      transform: translatex(-50%);
      width: 220px;
      height: auto;
      z-index: -1;
    }
    .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    }
    .instructions {
      margin-bottom: 2rem;
      border: 1px solid rgba(var(--accent-light), 25%);
      background: linear-gradient(
        rgba(var(--accent-dark), 66%),
        rgba(var(--accent-dark), 33%)
      );
      padding: 1.5rem;
      border-radius: 8px;
    }
    .instructions code {
      font-size: 0.8em;
      font-weight: bold;
      background: rgba(var(--accent-light), 12%);
      color: rgb(var(--accent-light));
      border-radius: 4px;
      padding: 0.3em 0.4em;
    }
    .instructions strong {
      color: rgb(var(--accent-light));
    }
    .link-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
      gap: 2rem;
      padding: 0;
    }
  </style>
</Layout>
