---
import { Image, getImage } from "astro:assets"
import Layout from "@/layouts/Layout.astro"
import Link from "@/components/Link.astro"
import studevsTalk from "@/assets/images/studevs-talk.png"
import SocialMedia from "@/components/SocialMedia.astro"
import Container from "@/components/Container.astro"

// https://astro.build/blog/images/
const optimizedBackgroundImage = await getImage({
  src: studevsTalk,
  quality: "max",
})

const gradient =
  "linear-gradient(180deg, rgba(0, 0, 0, 0.38) 0%, rgba(11, 7, 24, 0.77) 45.83%, rgba(11, 7, 25, 0.82) 58.85%, #0b0b0b 80.73%)"
const backgroundImage = `url('${optimizedBackgroundImage.src}')`
---

<Layout>
  <section
    class="main-section w-full top-0 min-h-screen z-0 bg-cover bg-center bg-no-repeat bg-fixed flex items-center justify-center pt-20 sm pb-16 flex-col gap-24"
  >
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-16">
      <div class="flex flex-col gap-8 text-lg">
        <header class="w-full mx-auto">
          <h1 class="text-7xl font-black text-blue-400">Jacob Flores</h1>
          <p class="text-2xl">
            <strong>Technology Manager</strong> at
            <Link href="https://www.aiapartner.com/" target="_blank">
              <strong> AIA Partners</strong>
            </Link>
          </p>
        </header>
        <div class="flex flex-col gap-4">
          <p>
            Hi there! I'm Jacob and
            <strong>
              I'm passionate about web development and technology</strong
            >.
          </p>
          <p>
            I love being part of a community, sharing my knowledge, and learning
            from others. Lately, I've participated in <strong>hackathons</strong
            >
             and <strong> given talks to my university peers</strong>, being
            part of a community known as
            <Link
              href="https://www.linkedin.com/company/studevs"
              target="_blank"
            >
              <strong>Studevs</strong>
            </Link>.
          </p>
        </div>
        <SocialMedia class="xl:hidden" />
      </div>
      <Image
        src={studevsTalk}
        alt="Delivering a presentation at the Engineering Faculty Auditorium, Autonomum University of San Luis Potosí."
        quality="max"
        class="aspect-video object-cover h-full rounded-xl object-left-bottom brightness-110"
      />
    </div>

    <SocialMedia class="hidden xl:flex" />
  </section>

  <style>
    /* Main swction should have a background image with shadow */
    /* h1 {
      background: var(
        --secondary-gradient,
        linear-gradient(180deg, #f6edaf 0%, #e5c600 100%)
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    } */

    /* .text-gradient {
      background-image: var(--accent-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-size: 400%;
      background-position: 0%;
    } */
  </style>
</Layout>
