---
const { class: className } = Astro.props

const hasMaxWidth = className.includes("max-w-")
---

<div
  class:list={[
    "mx-auto w-full px-4 py-16 md:px-16 md:py-20 2xl:px-2",
    { "max-w-5xl": hasMaxWidth === false },
    className,
  ]}
>
  <slot />
</div>
