---
import Logo from "./Logo.astro"
import SocialMedia from "./SocialMedia.astro"
---

<footer
  class="flex flex-col sm:flex-row items-center text-center sm:text-start justify-between gap-4 pb-8 px-6 w-full max-w-7xl
md:px-20 mx-auto"
>
  <div
    class="flex flex-col items-center sm:flex-row gap-4 sm:gap-8 sm:items-baseline"
  >
    <a href="/">
      <Logo class="text-3xl" />
    </a>
    <p class="text-slate-400">
      Designed and Built by <strong>Jacob Flores</strong>
    </p>
  </div>
  <SocialMedia />
</footer>
