---
import { GRADIENTS } from "@/consts"
import Link from "./links/Link.astro"
import Logo from "./Logo.astro"
import SocialMedia from "./SocialMedia.astro"
---

<footer
  class="mx-auto flex w-full max-w-7xl flex-col items-center justify-between gap-4 px-6 pb-8 text-center sm:flex-row
sm:text-start md:px-20"
>
  <div
    class="flex flex-col items-center gap-4 sm:flex-row sm:items-center sm:gap-8"
  >
    <a href="/#" class="flex items-center">
      <Logo class="text-3xl" />
    </a>
    <div class="text-slate-400">
      Built with <Link target="_blank" href="https://astro.build/">Astro</Link>
       and
      <Link target="_blank" href="https://tailwindcss.com/">Tailwind CSS</Link>.
      Hosted on
      <Link target="_blank" href="https://vercel.com/">Vercel</Link>.
    </div>
  </div>
  <SocialMedia />
</footer>
