---
const { href, target } = Astro.props

const rel = target === "_blank" ? "noopener noreferrer" : null
---

<a
  href={href}
  class="text-blue-300 hover:text-blue-100"
  target={target}
  rel={rel}
>
  <slot />
</a>
