---
interface Props {
  href: string
  target?: string
  class?: string
}

const { href, target, class: className } = Astro.props

const rel = target === "_blank" ? "noopener noreferrer" : null
---

<a
  href={href}
  class:list={["text-blue-300 hover:text-blue-100 font-semibold", className]}
  target={target}
  rel={rel}
>
  <slot />
</a>
