---
import EmailLogo from "@/icons/Email.astro"
import FilledFileLogo from "@/icons/FilledFile.astro"
import GitHubLogo from "@/icons/GitHub.astro"
import LinkedInLogo from "@/icons/LinkedIn.astro"
import YouTubeLogo from "@/icons/YouTube.astro"
import resume from "@/assets/resume-20231127.pdf"

type Props = {
  size?: "sm" | "md" | "lg"
  class?: string
}

// https://docs.astro.build/en/guides/styling/#passing-a-class-to-a-child-component
const { size = "sm", class: className } = Astro.props

const sizes = {
  sm: "w-6 h-6",
  md: "w-8 h-8",
  lg: "w-12 h-12",
}

const SOCIAL_MEDIA = [
  {
    name: "LinkedIn",
    url: "https://www.linkedin.com/in/jacob--flores",
    icon: LinkedInLogo,
  },
  {
    name: "GitHub",
    url: "https://github.com/yeicobF",
    icon: GitHubLogo,
  },
  {
    name: "YouTube",
    url: "https://www.youtube.com/@JacobFloresSWE",
    icon: YouTubeLogo,
  },
  {
    name: "Email",
    url: "mailto:jacobfloresrdz@gmail.com",
    icon: EmailLogo,
  },
  {
    name: "Resume",
    url: resume,
    icon: FilledFileLogo,
  },
]
---

<section class:list={["flex items-center gap-8", className]}>
  {
    SOCIAL_MEDIA.map(({ url, name, icon: Icon }) => (
      <a
        href={url}
        target="_blank"
        rel="noopener noreferrer"
        class:list={[
          "text-white transition-colors duration-200 hover:text-blue-400",
          sizes[size],
        ]}
        aria-label={name}
      >
        <Icon />
      </a>
    ))
  }
</section>
<!-- <div class="mt-32 text-sm text-gray-500">
  <span>© {new Date().getFullYear()} Jacob Flores</span>
</div> -->
